<!-- DEMO mission file for GADEN filament simulator -->

<launch>

    <arg name="FixedFrame" default="/map" />

    ### NODE environment (for RVIZ visualization) ###
    <node pkg="gaden_environment" type="environment" name="environment" output="screen">
	    <param name="/fixed_frame" value="$(arg FixedFrame)"/>

      # Plot source positions (0-17)
      <param name="/number_of_sources" value="18"/>

	    <param name="/source_0_position_x" value="1"/>
	    <param name="/source_0_position_y" value="1"/>
	    <param name="/source_0_position_z" value="1"/>

      <param name="/source_1_position_x" value="2"/>
      <param name="/source_1_position_y" value="2"/>
      <param name="/source_1_position_z" value="2"/>

      <param name="/source_2_position_x" value="1"/>
      <param name="/source_2_position_y" value="1"/>
      <param name="/source_2_position_z" value="1"/>

      <param name="/source_3_position_x" value="2"/>
      <param name="/source_3_position_y" value="2"/>
      <param name="/source_3_position_z" value="2"/>

      <param name="/source_4_position_x" value="1"/>
      <param name="/source_4_position_y" value="1"/>
      <param name="/source_4_position_z" value="1"/>

      <param name="/source_5_position_x" value="2"/>
      <param name="/source_5_position_y" value="2"/>
      <param name="/source_5_position_z" value="2"/>

      <param name="/source_6_position_x" value="1"/>
      <param name="/source_6_position_y" value="1"/>
      <param name="/source_6_position_z" value="1"/>

      <param name="/source_7_position_x" value="2"/>
      <param name="/source_7_position_y" value="2"/>
      <param name="/source_7_position_z" value="2"/>

      <param name="/source_8_position_x" value="1"/>
      <param name="/source_8_position_y" value="1"/>
      <param name="/source_8_position_z" value="1"/>

      <param name="/source_9_position_x" value="2"/>
      <param name="/source_9_position_y" value="2"/>
      <param name="/source_9_position_z" value="2"/>

      <param name="/source_10_position_x" value="1"/>
      <param name="/source_10_position_y" value="1"/>
      <param name="/source_10_position_z" value="1"/>

      <param name="/source_11_position_x" value="2"/>
      <param name="/source_11_position_y" value="2"/>
      <param name="/source_11_position_z" value="2"/>

      <param name="/source_12_position_x" value="1"/>
      <param name="/source_12_position_y" value="1"/>
      <param name="/source_12_position_z" value="1"/>

      <param name="/source_13_position_x" value="2"/>
      <param name="/source_13_position_y" value="2"/>
      <param name="/source_13_position_z" value="2"/>

      <param name="/source_14_position_x" value="1"/>
      <param name="/source_14_position_y" value="1"/>
      <param name="/source_14_position_z" value="1"/>

      <param name="/source_15_position_x" value="2"/>
      <param name="/source_15_position_y" value="2"/>
      <param name="/source_15_position_z" value="2"/>

      <param name="/source_16_position_x" value="1"/>
      <param name="/source_16_position_y" value="1"/>
      <param name="/source_16_position_z" value="1"/>

      <param name="/source_17_position_x" value="2"/>
      <param name="/source_17_position_y" value="2"/>
      <param name="/source_17_position_z" value="2"/>

	    # Plot CAD models
      <param name="/occupancy3D_data" value="$(find orchard_demo)/demo/OccupancyGrid3D.csv" />
	    <param name="/number_of_CAD" value="1"/>
      <param name="/CAD_0" value="package://orchard_demo/demo/CADmodels/orchard_s.dae"/>
    </node>


    ### NODE Filament Simulator 1 - 18 ###
    <node pkg="gaden_filament_simulator" type="filament_simulator" name="filament_simulator1" output="screen">
	    <param name="/sim_time" value="100" />                    ### [sec] Total time of the gas dispersion simulation
	    <param name="/time_step" value="0.1" />                   ### [sec] Time increment between snapshots. Set aprox = cell_size/max_wind_speed.
	    <param name="/num_filaments_sec" value="10" />            ### Num of filaments released each second
      <param name="/ppm_filament_center" value="10"/>           ### [ppm] Gas concentration at the center of the 3D gaussian (filament)
      <param name="/filament_initial_std" value="10"/>          ### [cm] Sigma of the filament at t=0-> 3DGaussian shape
      <param name="/filament_growth_gamma" value="10"/>         ### [cm²/s] Growth ratio of the filament_std
      <param name="/filament_noise_std" value="0.02"/>          ### [m] Range of the white noise added on each iteration
	    <param name="/gas_type" value="10" />                      ### 0=Ethanol, 1=Methane, 2=Hydrogen, 6=Acetone, 10-ethylene
	    <param name="/temperature" value="298"/>                  ### [Kelvins]
	    <param name="/pressure" value="1"/>                       ### [Atm]
	    <param name="/concentration_unit_choice" value="1"/>      ### 0=molecules/cm3, 1=ppm (when ppm is used, set temp and pressure accordingly)
	    # In the occupancyGrid.csv file we set: cell_size, num_cells, etc. which come from the CFD wind simulation
	    <param name="/occupancy3D_data" value="$(find orchard_demo)/demo/OccupancyGrid3D.csv" />
	    <param name="/fixed_frame" value="$(arg FixedFrame)"/>

	    # Path to wind simulations (from CFD)- In this demo we use just a static wind (just time-step = 0)
	    <param name="/wind_data" value="$(find orchard_demo)/demo/wind_at_cell_center_points_2msX" />
	    <param name="/wind_time_step" value="1" />                ### (sec) time increment between Wind snapshots

	    # Location of the release point!
	    <param name="/source_position_x" value="1"/>           ### (m)
	    <param name="/source_position_y" value="1"/>           ### (m)
	    <param name="/source_position_z" value="1"/>            ### (m)

	    <param name="/save_results" value="1" />                  #1=true, 0=false
	    <param name="/restuls_time_step" value="0.5" />           #(sec) Time increment between saving state to file
	    <param name="/results_location" value="$(find orchard_demo)/demo/logs_gas_dipersion_simulator" />
    </node>

    <node pkg="gaden_filament_simulator" type="filament_simulator" name="filament_simulator2" output="screen">
      <param name="/sim_time" value="100" />                    ### [sec] Total time of the gas dispersion simulation
      <param name="/time_step" value="0.1" />                   ### [sec] Time increment between snapshots. Set aprox = cell_size/max_wind_speed.
      <param name="/num_filaments_sec" value="10" />            ### Num of filaments released each second
      <param name="/ppm_filament_center" value="10"/>           ### [ppm] Gas concentration at the center of the 3D gaussian (filament)
      <param name="/filament_initial_std" value="10"/>          ### [cm] Sigma of the filament at t=0-> 3DGaussian shape
      <param name="/filament_growth_gamma" value="10"/>         ### [cm²/s] Growth ratio of the filament_std
      <param name="/filament_noise_std" value="0.02"/>          ### [m] Range of the white noise added on each iteration
      <param name="/gas_type" value="10" />                      ### 0=Ethanol, 1=Methane, 2=Hydrogen, 6=Acetone, 10-ethylene
      <param name="/temperature" value="298"/>                  ### [Kelvins]
      <param name="/pressure" value="1"/>                       ### [Atm]
      <param name="/concentration_unit_choice" value="1"/>      ### 0=molecules/cm3, 1=ppm (when ppm is used, set temp and pressure accordingly)
      # In the occupancyGrid.csv file we set: cell_size, num_cells, etc. which come from the CFD wind simulation
      <param name="/occupancy3D_data" value="$(find orchard_demo)/demo/OccupancyGrid3D.csv" />
      <param name="/fixed_frame" value="$(arg FixedFrame)"/>

      # Path to wind simulations (from CFD)- In this demo we use just a static wind (just time-step = 0)
      <param name="/wind_data" value="$(find orchard_demo)/demo/wind_at_cell_center_points_2msX" />
      <param name="/wind_time_step" value="1" />                ### (sec) time increment between Wind snapshots

      # Location of the release point!
      <param name="/source_position_x" value="1"/>           ### (m)
      <param name="/source_position_y" value="1"/>           ### (m)
      <param name="/source_position_z" value="1"/>            ### (m)

      <param name="/save_results" value="1" />                  #1=true, 0=false
      <param name="/restuls_time_step" value="0.5" />           #(sec) Time increment between saving state to file
      <param name="/results_location" value="$(find orchard_demo)/demo/logs_gas_dipersion_simulator" />
    </node>

    <node pkg="gaden_filament_simulator" type="filament_simulator" name="filament_simulator3" output="screen">
      <param name="/sim_time" value="100" />                    ### [sec] Total time of the gas dispersion simulation
      <param name="/time_step" value="0.1" />                   ### [sec] Time increment between snapshots. Set aprox = cell_size/max_wind_speed.
      <param name="/num_filaments_sec" value="10" />            ### Num of filaments released each second
      <param name="/ppm_filament_center" value="10"/>           ### [ppm] Gas concentration at the center of the 3D gaussian (filament)
      <param name="/filament_initial_std" value="10"/>          ### [cm] Sigma of the filament at t=0-> 3DGaussian shape
      <param name="/filament_growth_gamma" value="10"/>         ### [cm²/s] Growth ratio of the filament_std
      <param name="/filament_noise_std" value="0.02"/>          ### [m] Range of the white noise added on each iteration
      <param name="/gas_type" value="10" />                      ### 0=Ethanol, 1=Methane, 2=Hydrogen, 6=Acetone, 10-ethylene
      <param name="/temperature" value="298"/>                  ### [Kelvins]
      <param name="/pressure" value="1"/>                       ### [Atm]
      <param name="/concentration_unit_choice" value="1"/>      ### 0=molecules/cm3, 1=ppm (when ppm is used, set temp and pressure accordingly)
      # In the occupancyGrid.csv file we set: cell_size, num_cells, etc. which come from the CFD wind simulation
      <param name="/occupancy3D_data" value="$(find orchard_demo)/demo/OccupancyGrid3D.csv" />
      <param name="/fixed_frame" value="$(arg FixedFrame)"/>

      # Path to wind simulations (from CFD)- In this demo we use just a static wind (just time-step = 0)
      <param name="/wind_data" value="$(find orchard_demo)/demo/wind_at_cell_center_points_2msX" />
      <param name="/wind_time_step" value="1" />                ### (sec) time increment between Wind snapshots

      # Location of the release point!
      <param name="/source_position_x" value="1"/>           ### (m)
      <param name="/source_position_y" value="1"/>           ### (m)
      <param name="/source_position_z" value="1"/>            ### (m)

      <param name="/save_results" value="1" />                  #1=true, 0=false
      <param name="/restuls_time_step" value="0.5" />           #(sec) Time increment between saving state to file
      <param name="/results_location" value="$(find orchard_demo)/demo/logs_gas_dipersion_simulator" />
    </node>

    <node pkg="gaden_filament_simulator" type="filament_simulator" name="filament_simulator4" output="screen">
      <param name="/sim_time" value="100" />                    ### [sec] Total time of the gas dispersion simulation
      <param name="/time_step" value="0.1" />                   ### [sec] Time increment between snapshots. Set aprox = cell_size/max_wind_speed.
      <param name="/num_filaments_sec" value="10" />            ### Num of filaments released each second
      <param name="/ppm_filament_center" value="10"/>           ### [ppm] Gas concentration at the center of the 3D gaussian (filament)
      <param name="/filament_initial_std" value="10"/>          ### [cm] Sigma of the filament at t=0-> 3DGaussian shape
      <param name="/filament_growth_gamma" value="10"/>         ### [cm²/s] Growth ratio of the filament_std
      <param name="/filament_noise_std" value="0.02"/>          ### [m] Range of the white noise added on each iteration
      <param name="/gas_type" value="10" />                      ### 0=Ethanol, 1=Methane, 2=Hydrogen, 6=Acetone, 10-ethylene
      <param name="/temperature" value="298"/>                  ### [Kelvins]
      <param name="/pressure" value="1"/>                       ### [Atm]
      <param name="/concentration_unit_choice" value="1"/>      ### 0=molecules/cm3, 1=ppm (when ppm is used, set temp and pressure accordingly)
      # In the occupancyGrid.csv file we set: cell_size, num_cells, etc. which come from the CFD wind simulation
      <param name="/occupancy3D_data" value="$(find orchard_demo)/demo/OccupancyGrid3D.csv" />
      <param name="/fixed_frame" value="$(arg FixedFrame)"/>

      # Path to wind simulations (from CFD)- In this demo we use just a static wind (just time-step = 0)
      <param name="/wind_data" value="$(find orchard_demo)/demo/wind_at_cell_center_points_2msX" />
      <param name="/wind_time_step" value="1" />                ### (sec) time increment between Wind snapshots

      # Location of the release point!
      <param name="/source_position_x" value="1"/>           ### (m)
      <param name="/source_position_y" value="1"/>           ### (m)
      <param name="/source_position_z" value="1"/>            ### (m)

      <param name="/save_results" value="1" />                  #1=true, 0=false
      <param name="/restuls_time_step" value="0.5" />           #(sec) Time increment between saving state to file
      <param name="/results_location" value="$(find orchard_demo)/demo/logs_gas_dipersion_simulator" />
    </node>

    <node pkg="gaden_filament_simulator" type="filament_simulator" name="filament_simulator5" output="screen">
      <param name="/sim_time" value="100" />                    ### [sec] Total time of the gas dispersion simulation
      <param name="/time_step" value="0.1" />                   ### [sec] Time increment between snapshots. Set aprox = cell_size/max_wind_speed.
      <param name="/num_filaments_sec" value="10" />            ### Num of filaments released each second
      <param name="/ppm_filament_center" value="10"/>           ### [ppm] Gas concentration at the center of the 3D gaussian (filament)
      <param name="/filament_initial_std" value="10"/>          ### [cm] Sigma of the filament at t=0-> 3DGaussian shape
      <param name="/filament_growth_gamma" value="10"/>         ### [cm²/s] Growth ratio of the filament_std
      <param name="/filament_noise_std" value="0.02"/>          ### [m] Range of the white noise added on each iteration
      <param name="/gas_type" value="10" />                      ### 0=Ethanol, 1=Methane, 2=Hydrogen, 6=Acetone, 10-ethylene
      <param name="/temperature" value="298"/>                  ### [Kelvins]
      <param name="/pressure" value="1"/>                       ### [Atm]
      <param name="/concentration_unit_choice" value="1"/>      ### 0=molecules/cm3, 1=ppm (when ppm is used, set temp and pressure accordingly)
      # In the occupancyGrid.csv file we set: cell_size, num_cells, etc. which come from the CFD wind simulation
      <param name="/occupancy3D_data" value="$(find orchard_demo)/demo/OccupancyGrid3D.csv" />
      <param name="/fixed_frame" value="$(arg FixedFrame)"/>

      # Path to wind simulations (from CFD)- In this demo we use just a static wind (just time-step = 0)
      <param name="/wind_data" value="$(find orchard_demo)/demo/wind_at_cell_center_points_2msX" />
      <param name="/wind_time_step" value="1" />                ### (sec) time increment between Wind snapshots

      # Location of the release point!
      <param name="/source_position_x" value="1"/>           ### (m)
      <param name="/source_position_y" value="1"/>           ### (m)
      <param name="/source_position_z" value="1"/>            ### (m)

      <param name="/save_results" value="1" />                  #1=true, 0=false
      <param name="/restuls_time_step" value="0.5" />           #(sec) Time increment between saving state to file
      <param name="/results_location" value="$(find orchard_demo)/demo/logs_gas_dipersion_simulator" />
    </node>

    <node pkg="gaden_filament_simulator" type="filament_simulator" name="filament_simulator6" output="screen">
      <param name="/sim_time" value="100" />                    ### [sec] Total time of the gas dispersion simulation
      <param name="/time_step" value="0.1" />                   ### [sec] Time increment between snapshots. Set aprox = cell_size/max_wind_speed.
      <param name="/num_filaments_sec" value="10" />            ### Num of filaments released each second
      <param name="/ppm_filament_center" value="10"/>           ### [ppm] Gas concentration at the center of the 3D gaussian (filament)
      <param name="/filament_initial_std" value="10"/>          ### [cm] Sigma of the filament at t=0-> 3DGaussian shape
      <param name="/filament_growth_gamma" value="10"/>         ### [cm²/s] Growth ratio of the filament_std
      <param name="/filament_noise_std" value="0.02"/>          ### [m] Range of the white noise added on each iteration
      <param name="/gas_type" value="10" />                      ### 0=Ethanol, 1=Methane, 2=Hydrogen, 6=Acetone, 10-ethylene
      <param name="/temperature" value="298"/>                  ### [Kelvins]
      <param name="/pressure" value="1"/>                       ### [Atm]
      <param name="/concentration_unit_choice" value="1"/>      ### 0=molecules/cm3, 1=ppm (when ppm is used, set temp and pressure accordingly)
      # In the occupancyGrid.csv file we set: cell_size, num_cells, etc. which come from the CFD wind simulation
      <param name="/occupancy3D_data" value="$(find orchard_demo)/demo/OccupancyGrid3D.csv" />
      <param name="/fixed_frame" value="$(arg FixedFrame)"/>

      # Path to wind simulations (from CFD)- In this demo we use just a static wind (just time-step = 0)
      <param name="/wind_data" value="$(find orchard_demo)/demo/wind_at_cell_center_points_2msX" />
      <param name="/wind_time_step" value="1" />                ### (sec) time increment between Wind snapshots

      # Location of the release point!
      <param name="/source_position_x" value="1"/>           ### (m)
      <param name="/source_position_y" value="1"/>           ### (m)
      <param name="/source_position_z" value="1"/>            ### (m)

      <param name="/save_results" value="1" />                  #1=true, 0=false
      <param name="/restuls_time_step" value="0.5" />           #(sec) Time increment between saving state to file
      <param name="/results_location" value="$(find orchard_demo)/demo/logs_gas_dipersion_simulator" />
    </node>

    <node pkg="gaden_filament_simulator" type="filament_simulator" name="filament_simulator7" output="screen">
      <param name="/sim_time" value="100" />                    ### [sec] Total time of the gas dispersion simulation
      <param name="/time_step" value="0.1" />                   ### [sec] Time increment between snapshots. Set aprox = cell_size/max_wind_speed.
      <param name="/num_filaments_sec" value="10" />            ### Num of filaments released each second
      <param name="/ppm_filament_center" value="10"/>           ### [ppm] Gas concentration at the center of the 3D gaussian (filament)
      <param name="/filament_initial_std" value="10"/>          ### [cm] Sigma of the filament at t=0-> 3DGaussian shape
      <param name="/filament_growth_gamma" value="10"/>         ### [cm²/s] Growth ratio of the filament_std
      <param name="/filament_noise_std" value="0.02"/>          ### [m] Range of the white noise added on each iteration
      <param name="/gas_type" value="10" />                      ### 0=Ethanol, 1=Methane, 2=Hydrogen, 6=Acetone, 10-ethylene
      <param name="/temperature" value="298"/>                  ### [Kelvins]
      <param name="/pressure" value="1"/>                       ### [Atm]
      <param name="/concentration_unit_choice" value="1"/>      ### 0=molecules/cm3, 1=ppm (when ppm is used, set temp and pressure accordingly)
      # In the occupancyGrid.csv file we set: cell_size, num_cells, etc. which come from the CFD wind simulation
      <param name="/occupancy3D_data" value="$(find orchard_demo)/demo/OccupancyGrid3D.csv" />
      <param name="/fixed_frame" value="$(arg FixedFrame)"/>

      # Path to wind simulations (from CFD)- In this demo we use just a static wind (just time-step = 0)
      <param name="/wind_data" value="$(find orchard_demo)/demo/wind_at_cell_center_points_2msX" />
      <param name="/wind_time_step" value="1" />                ### (sec) time increment between Wind snapshots

      # Location of the release point!
      <param name="/source_position_x" value="1"/>           ### (m)
      <param name="/source_position_y" value="1"/>           ### (m)
      <param name="/source_position_z" value="1"/>            ### (m)

      <param name="/save_results" value="1" />                  #1=true, 0=false
      <param name="/restuls_time_step" value="0.5" />           #(sec) Time increment between saving state to file
      <param name="/results_location" value="$(find orchard_demo)/demo/logs_gas_dipersion_simulator" />
    </node>

    <node pkg="gaden_filament_simulator" type="filament_simulator" name="filament_simulator8" output="screen">
      <param name="/sim_time" value="100" />                    ### [sec] Total time of the gas dispersion simulation
      <param name="/time_step" value="0.1" />                   ### [sec] Time increment between snapshots. Set aprox = cell_size/max_wind_speed.
      <param name="/num_filaments_sec" value="10" />            ### Num of filaments released each second
      <param name="/ppm_filament_center" value="10"/>           ### [ppm] Gas concentration at the center of the 3D gaussian (filament)
      <param name="/filament_initial_std" value="10"/>          ### [cm] Sigma of the filament at t=0-> 3DGaussian shape
      <param name="/filament_growth_gamma" value="10"/>         ### [cm²/s] Growth ratio of the filament_std
      <param name="/filament_noise_std" value="0.02"/>          ### [m] Range of the white noise added on each iteration
      <param name="/gas_type" value="10" />                      ### 0=Ethanol, 1=Methane, 2=Hydrogen, 6=Acetone, 10-ethylene
      <param name="/temperature" value="298"/>                  ### [Kelvins]
      <param name="/pressure" value="1"/>                       ### [Atm]
      <param name="/concentration_unit_choice" value="1"/>      ### 0=molecules/cm3, 1=ppm (when ppm is used, set temp and pressure accordingly)
      # In the occupancyGrid.csv file we set: cell_size, num_cells, etc. which come from the CFD wind simulation
      <param name="/occupancy3D_data" value="$(find orchard_demo)/demo/OccupancyGrid3D.csv" />
      <param name="/fixed_frame" value="$(arg FixedFrame)"/>

      # Path to wind simulations (from CFD)- In this demo we use just a static wind (just time-step = 0)
      <param name="/wind_data" value="$(find orchard_demo)/demo/wind_at_cell_center_points_2msX" />
      <param name="/wind_time_step" value="1" />                ### (sec) time increment between Wind snapshots

      # Location of the release point!
      <param name="/source_position_x" value="1"/>           ### (m)
      <param name="/source_position_y" value="1"/>           ### (m)
      <param name="/source_position_z" value="1"/>            ### (m)

      <param name="/save_results" value="1" />                  #1=true, 0=false
      <param name="/restuls_time_step" value="0.5" />           #(sec) Time increment between saving state to file
      <param name="/results_location" value="$(find orchard_demo)/demo/logs_gas_dipersion_simulator" />
    </node>

    <node pkg="gaden_filament_simulator" type="filament_simulator" name="filament_simulator9" output="screen">
      <param name="/sim_time" value="100" />                    ### [sec] Total time of the gas dispersion simulation
      <param name="/time_step" value="0.1" />                   ### [sec] Time increment between snapshots. Set aprox = cell_size/max_wind_speed.
      <param name="/num_filaments_sec" value="10" />            ### Num of filaments released each second
      <param name="/ppm_filament_center" value="10"/>           ### [ppm] Gas concentration at the center of the 3D gaussian (filament)
      <param name="/filament_initial_std" value="10"/>          ### [cm] Sigma of the filament at t=0-> 3DGaussian shape
      <param name="/filament_growth_gamma" value="10"/>         ### [cm²/s] Growth ratio of the filament_std
      <param name="/filament_noise_std" value="0.02"/>          ### [m] Range of the white noise added on each iteration
      <param name="/gas_type" value="10" />                      ### 0=Ethanol, 1=Methane, 2=Hydrogen, 6=Acetone, 10-ethylene
      <param name="/temperature" value="298"/>                  ### [Kelvins]
      <param name="/pressure" value="1"/>                       ### [Atm]
      <param name="/concentration_unit_choice" value="1"/>      ### 0=molecules/cm3, 1=ppm (when ppm is used, set temp and pressure accordingly)
      # In the occupancyGrid.csv file we set: cell_size, num_cells, etc. which come from the CFD wind simulation
      <param name="/occupancy3D_data" value="$(find orchard_demo)/demo/OccupancyGrid3D.csv" />
      <param name="/fixed_frame" value="$(arg FixedFrame)"/>

      # Path to wind simulations (from CFD)- In this demo we use just a static wind (just time-step = 0)
      <param name="/wind_data" value="$(find orchard_demo)/demo/wind_at_cell_center_points_2msX" />
      <param name="/wind_time_step" value="1" />                ### (sec) time increment between Wind snapshots

      # Location of the release point!
      <param name="/source_position_x" value="1"/>           ### (m)
      <param name="/source_position_y" value="1"/>           ### (m)
      <param name="/source_position_z" value="1"/>            ### (m)

      <param name="/save_results" value="1" />                  #1=true, 0=false
      <param name="/restuls_time_step" value="0.5" />           #(sec) Time increment between saving state to file
      <param name="/results_location" value="$(find orchard_demo)/demo/logs_gas_dipersion_simulator" />
    </node>

    <node pkg="gaden_filament_simulator" type="filament_simulator" name="filament_simulator10" output="screen">
      <param name="/sim_time" value="100" />                    ### [sec] Total time of the gas dispersion simulation
      <param name="/time_step" value="0.1" />                   ### [sec] Time increment between snapshots. Set aprox = cell_size/max_wind_speed.
      <param name="/num_filaments_sec" value="10" />            ### Num of filaments released each second
      <param name="/ppm_filament_center" value="10"/>           ### [ppm] Gas concentration at the center of the 3D gaussian (filament)
      <param name="/filament_initial_std" value="10"/>          ### [cm] Sigma of the filament at t=0-> 3DGaussian shape
      <param name="/filament_growth_gamma" value="10"/>         ### [cm²/s] Growth ratio of the filament_std
      <param name="/filament_noise_std" value="0.02"/>          ### [m] Range of the white noise added on each iteration
      <param name="/gas_type" value="10" />                      ### 0=Ethanol, 1=Methane, 2=Hydrogen, 6=Acetone, 10-ethylene
      <param name="/temperature" value="298"/>                  ### [Kelvins]
      <param name="/pressure" value="1"/>                       ### [Atm]
      <param name="/concentration_unit_choice" value="1"/>      ### 0=molecules/cm3, 1=ppm (when ppm is used, set temp and pressure accordingly)
      # In the occupancyGrid.csv file we set: cell_size, num_cells, etc. which come from the CFD wind simulation
      <param name="/occupancy3D_data" value="$(find orchard_demo)/demo/OccupancyGrid3D.csv" />
      <param name="/fixed_frame" value="$(arg FixedFrame)"/>

      # Path to wind simulations (from CFD)- In this demo we use just a static wind (just time-step = 0)
      <param name="/wind_data" value="$(find orchard_demo)/demo/wind_at_cell_center_points_2msX" />
      <param name="/wind_time_step" value="1" />                ### (sec) time increment between Wind snapshots

      # Location of the release point!
      <param name="/source_position_x" value="1"/>           ### (m)
      <param name="/source_position_y" value="1"/>           ### (m)
      <param name="/source_position_z" value="1"/>            ### (m)

      <param name="/save_results" value="1" />                  #1=true, 0=false
      <param name="/restuls_time_step" value="0.5" />           #(sec) Time increment between saving state to file
      <param name="/results_location" value="$(find orchard_demo)/demo/logs_gas_dipersion_simulator" />
    </node>

    <node pkg="gaden_filament_simulator" type="filament_simulator" name="filament_simulator11" output="screen">
      <param name="/sim_time" value="100" />                    ### [sec] Total time of the gas dispersion simulation
      <param name="/time_step" value="0.1" />                   ### [sec] Time increment between snapshots. Set aprox = cell_size/max_wind_speed.
      <param name="/num_filaments_sec" value="10" />            ### Num of filaments released each second
      <param name="/ppm_filament_center" value="10"/>           ### [ppm] Gas concentration at the center of the 3D gaussian (filament)
      <param name="/filament_initial_std" value="10"/>          ### [cm] Sigma of the filament at t=0-> 3DGaussian shape
      <param name="/filament_growth_gamma" value="10"/>         ### [cm²/s] Growth ratio of the filament_std
      <param name="/filament_noise_std" value="0.02"/>          ### [m] Range of the white noise added on each iteration
      <param name="/gas_type" value="10" />                      ### 0=Ethanol, 1=Methane, 2=Hydrogen, 6=Acetone, 10-ethylene
      <param name="/temperature" value="298"/>                  ### [Kelvins]
      <param name="/pressure" value="1"/>                       ### [Atm]
      <param name="/concentration_unit_choice" value="1"/>      ### 0=molecules/cm3, 1=ppm (when ppm is used, set temp and pressure accordingly)
      # In the occupancyGrid.csv file we set: cell_size, num_cells, etc. which come from the CFD wind simulation
      <param name="/occupancy3D_data" value="$(find orchard_demo)/demo/OccupancyGrid3D.csv" />
      <param name="/fixed_frame" value="$(arg FixedFrame)"/>

      # Path to wind simulations (from CFD)- In this demo we use just a static wind (just time-step = 0)
      <param name="/wind_data" value="$(find orchard_demo)/demo/wind_at_cell_center_points_2msX" />
      <param name="/wind_time_step" value="1" />                ### (sec) time increment between Wind snapshots

      # Location of the release point!
      <param name="/source_position_x" value="1"/>           ### (m)
      <param name="/source_position_y" value="1"/>           ### (m)
      <param name="/source_position_z" value="1"/>            ### (m)

      <param name="/save_results" value="1" />                  #1=true, 0=false
      <param name="/restuls_time_step" value="0.5" />           #(sec) Time increment between saving state to file
      <param name="/results_location" value="$(find orchard_demo)/demo/logs_gas_dipersion_simulator" />
    </node>

    <node pkg="gaden_filament_simulator" type="filament_simulator" name="filament_simulator12" output="screen">
      <param name="/sim_time" value="100" />                    ### [sec] Total time of the gas dispersion simulation
      <param name="/time_step" value="0.1" />                   ### [sec] Time increment between snapshots. Set aprox = cell_size/max_wind_speed.
      <param name="/num_filaments_sec" value="10" />            ### Num of filaments released each second
      <param name="/ppm_filament_center" value="10"/>           ### [ppm] Gas concentration at the center of the 3D gaussian (filament)
      <param name="/filament_initial_std" value="10"/>          ### [cm] Sigma of the filament at t=0-> 3DGaussian shape
      <param name="/filament_growth_gamma" value="10"/>         ### [cm²/s] Growth ratio of the filament_std
      <param name="/filament_noise_std" value="0.02"/>          ### [m] Range of the white noise added on each iteration
      <param name="/gas_type" value="10" />                      ### 0=Ethanol, 1=Methane, 2=Hydrogen, 6=Acetone, 10-ethylene
      <param name="/temperature" value="298"/>                  ### [Kelvins]
      <param name="/pressure" value="1"/>                       ### [Atm]
      <param name="/concentration_unit_choice" value="1"/>      ### 0=molecules/cm3, 1=ppm (when ppm is used, set temp and pressure accordingly)
      # In the occupancyGrid.csv file we set: cell_size, num_cells, etc. which come from the CFD wind simulation
      <param name="/occupancy3D_data" value="$(find orchard_demo)/demo/OccupancyGrid3D.csv" />
      <param name="/fixed_frame" value="$(arg FixedFrame)"/>

      # Path to wind simulations (from CFD)- In this demo we use just a static wind (just time-step = 0)
      <param name="/wind_data" value="$(find orchard_demo)/demo/wind_at_cell_center_points_2msX" />
      <param name="/wind_time_step" value="1" />                ### (sec) time increment between Wind snapshots

      # Location of the release point!
      <param name="/source_position_x" value="1"/>           ### (m)
      <param name="/source_position_y" value="1"/>           ### (m)
      <param name="/source_position_z" value="1"/>            ### (m)

      <param name="/save_results" value="1" />                  #1=true, 0=false
      <param name="/restuls_time_step" value="0.5" />           #(sec) Time increment between saving state to file
      <param name="/results_location" value="$(find orchard_demo)/demo/logs_gas_dipersion_simulator" />
    </node>

    <node pkg="gaden_filament_simulator" type="filament_simulator" name="filament_simulator13" output="screen">
      <param name="/sim_time" value="100" />                    ### [sec] Total time of the gas dispersion simulation
      <param name="/time_step" value="0.1" />                   ### [sec] Time increment between snapshots. Set aprox = cell_size/max_wind_speed.
      <param name="/num_filaments_sec" value="10" />            ### Num of filaments released each second
      <param name="/ppm_filament_center" value="10"/>           ### [ppm] Gas concentration at the center of the 3D gaussian (filament)
      <param name="/filament_initial_std" value="10"/>          ### [cm] Sigma of the filament at t=0-> 3DGaussian shape
      <param name="/filament_growth_gamma" value="10"/>         ### [cm²/s] Growth ratio of the filament_std
      <param name="/filament_noise_std" value="0.02"/>          ### [m] Range of the white noise added on each iteration
      <param name="/gas_type" value="10" />                      ### 0=Ethanol, 1=Methane, 2=Hydrogen, 6=Acetone, 10-ethylene
      <param name="/temperature" value="298"/>                  ### [Kelvins]
      <param name="/pressure" value="1"/>                       ### [Atm]
      <param name="/concentration_unit_choice" value="1"/>      ### 0=molecules/cm3, 1=ppm (when ppm is used, set temp and pressure accordingly)
      # In the occupancyGrid.csv file we set: cell_size, num_cells, etc. which come from the CFD wind simulation
      <param name="/occupancy3D_data" value="$(find orchard_demo)/demo/OccupancyGrid3D.csv" />
      <param name="/fixed_frame" value="$(arg FixedFrame)"/>

      # Path to wind simulations (from CFD)- In this demo we use just a static wind (just time-step = 0)
      <param name="/wind_data" value="$(find orchard_demo)/demo/wind_at_cell_center_points_2msX" />
      <param name="/wind_time_step" value="1" />                ### (sec) time increment between Wind snapshots

      # Location of the release point!
      <param name="/source_position_x" value="1"/>           ### (m)
      <param name="/source_position_y" value="1"/>           ### (m)
      <param name="/source_position_z" value="1"/>            ### (m)

      <param name="/save_results" value="1" />                  #1=true, 0=false
      <param name="/restuls_time_step" value="0.5" />           #(sec) Time increment between saving state to file
      <param name="/results_location" value="$(find orchard_demo)/demo/logs_gas_dipersion_simulator" />
    </node>

    <node pkg="gaden_filament_simulator" type="filament_simulator" name="filament_simulator14" output="screen">
      <param name="/sim_time" value="100" />                    ### [sec] Total time of the gas dispersion simulation
      <param name="/time_step" value="0.1" />                   ### [sec] Time increment between snapshots. Set aprox = cell_size/max_wind_speed.
      <param name="/num_filaments_sec" value="10" />            ### Num of filaments released each second
      <param name="/ppm_filament_center" value="10"/>           ### [ppm] Gas concentration at the center of the 3D gaussian (filament)
      <param name="/filament_initial_std" value="10"/>          ### [cm] Sigma of the filament at t=0-> 3DGaussian shape
      <param name="/filament_growth_gamma" value="10"/>         ### [cm²/s] Growth ratio of the filament_std
      <param name="/filament_noise_std" value="0.02"/>          ### [m] Range of the white noise added on each iteration
      <param name="/gas_type" value="10" />                      ### 0=Ethanol, 1=Methane, 2=Hydrogen, 6=Acetone, 10-ethylene
      <param name="/temperature" value="298"/>                  ### [Kelvins]
      <param name="/pressure" value="1"/>                       ### [Atm]
      <param name="/concentration_unit_choice" value="1"/>      ### 0=molecules/cm3, 1=ppm (when ppm is used, set temp and pressure accordingly)
      # In the occupancyGrid.csv file we set: cell_size, num_cells, etc. which come from the CFD wind simulation
      <param name="/occupancy3D_data" value="$(find orchard_demo)/demo/OccupancyGrid3D.csv" />
      <param name="/fixed_frame" value="$(arg FixedFrame)"/>

      # Path to wind simulations (from CFD)- In this demo we use just a static wind (just time-step = 0)
      <param name="/wind_data" value="$(find orchard_demo)/demo/wind_at_cell_center_points_2msX" />
      <param name="/wind_time_step" value="1" />                ### (sec) time increment between Wind snapshots

      # Location of the release point!
      <param name="/source_position_x" value="1"/>           ### (m)
      <param name="/source_position_y" value="1"/>           ### (m)
      <param name="/source_position_z" value="1"/>            ### (m)

      <param name="/save_results" value="1" />                  #1=true, 0=false
      <param name="/restuls_time_step" value="0.5" />           #(sec) Time increment between saving state to file
      <param name="/results_location" value="$(find orchard_demo)/demo/logs_gas_dipersion_simulator" />
    </node>

    <node pkg="gaden_filament_simulator" type="filament_simulator" name="filament_simulator15" output="screen">
      <param name="/sim_time" value="100" />                    ### [sec] Total time of the gas dispersion simulation
      <param name="/time_step" value="0.1" />                   ### [sec] Time increment between snapshots. Set aprox = cell_size/max_wind_speed.
      <param name="/num_filaments_sec" value="10" />            ### Num of filaments released each second
      <param name="/ppm_filament_center" value="10"/>           ### [ppm] Gas concentration at the center of the 3D gaussian (filament)
      <param name="/filament_initial_std" value="10"/>          ### [cm] Sigma of the filament at t=0-> 3DGaussian shape
      <param name="/filament_growth_gamma" value="10"/>         ### [cm²/s] Growth ratio of the filament_std
      <param name="/filament_noise_std" value="0.02"/>          ### [m] Range of the white noise added on each iteration
      <param name="/gas_type" value="10" />                      ### 0=Ethanol, 1=Methane, 2=Hydrogen, 6=Acetone, 10-ethylene
      <param name="/temperature" value="298"/>                  ### [Kelvins]
      <param name="/pressure" value="1"/>                       ### [Atm]
      <param name="/concentration_unit_choice" value="1"/>      ### 0=molecules/cm3, 1=ppm (when ppm is used, set temp and pressure accordingly)
      # In the occupancyGrid.csv file we set: cell_size, num_cells, etc. which come from the CFD wind simulation
      <param name="/occupancy3D_data" value="$(find orchard_demo)/demo/OccupancyGrid3D.csv" />
      <param name="/fixed_frame" value="$(arg FixedFrame)"/>

      # Path to wind simulations (from CFD)- In this demo we use just a static wind (just time-step = 0)
      <param name="/wind_data" value="$(find orchard_demo)/demo/wind_at_cell_center_points_2msX" />
      <param name="/wind_time_step" value="1" />                ### (sec) time increment between Wind snapshots

      # Location of the release point!
      <param name="/source_position_x" value="1"/>           ### (m)
      <param name="/source_position_y" value="1"/>           ### (m)
      <param name="/source_position_z" value="1"/>            ### (m)

      <param name="/save_results" value="1" />                  #1=true, 0=false
      <param name="/restuls_time_step" value="0.5" />           #(sec) Time increment between saving state to file
      <param name="/results_location" value="$(find orchard_demo)/demo/logs_gas_dipersion_simulator" />
    </node>

    <node pkg="gaden_filament_simulator" type="filament_simulator" name="filament_simulator16" output="screen">
      <param name="/sim_time" value="100" />                    ### [sec] Total time of the gas dispersion simulation
      <param name="/time_step" value="0.1" />                   ### [sec] Time increment between snapshots. Set aprox = cell_size/max_wind_speed.
      <param name="/num_filaments_sec" value="10" />            ### Num of filaments released each second
      <param name="/ppm_filament_center" value="10"/>           ### [ppm] Gas concentration at the center of the 3D gaussian (filament)
      <param name="/filament_initial_std" value="10"/>          ### [cm] Sigma of the filament at t=0-> 3DGaussian shape
      <param name="/filament_growth_gamma" value="10"/>         ### [cm²/s] Growth ratio of the filament_std
      <param name="/filament_noise_std" value="0.02"/>          ### [m] Range of the white noise added on each iteration
      <param name="/gas_type" value="10" />                      ### 0=Ethanol, 1=Methane, 2=Hydrogen, 6=Acetone, 10-ethylene
      <param name="/temperature" value="298"/>                  ### [Kelvins]
      <param name="/pressure" value="1"/>                       ### [Atm]
      <param name="/concentration_unit_choice" value="1"/>      ### 0=molecules/cm3, 1=ppm (when ppm is used, set temp and pressure accordingly)
      # In the occupancyGrid.csv file we set: cell_size, num_cells, etc. which come from the CFD wind simulation
      <param name="/occupancy3D_data" value="$(find orchard_demo)/demo/OccupancyGrid3D.csv" />
      <param name="/fixed_frame" value="$(arg FixedFrame)"/>

      # Path to wind simulations (from CFD)- In this demo we use just a static wind (just time-step = 0)
      <param name="/wind_data" value="$(find orchard_demo)/demo/wind_at_cell_center_points_2msX" />
      <param name="/wind_time_step" value="1" />                ### (sec) time increment between Wind snapshots

      # Location of the release point!
      <param name="/source_position_x" value="1"/>           ### (m)
      <param name="/source_position_y" value="1"/>           ### (m)
      <param name="/source_position_z" value="1"/>            ### (m)

      <param name="/save_results" value="1" />                  #1=true, 0=false
      <param name="/restuls_time_step" value="0.5" />           #(sec) Time increment between saving state to file
      <param name="/results_location" value="$(find orchard_demo)/demo/logs_gas_dipersion_simulator" />
    </node>

    <node pkg="gaden_filament_simulator" type="filament_simulator" name="filament_simulator17" output="screen">
      <param name="/sim_time" value="100" />                    ### [sec] Total time of the gas dispersion simulation
      <param name="/time_step" value="0.1" />                   ### [sec] Time increment between snapshots. Set aprox = cell_size/max_wind_speed.
      <param name="/num_filaments_sec" value="10" />            ### Num of filaments released each second
      <param name="/ppm_filament_center" value="10"/>           ### [ppm] Gas concentration at the center of the 3D gaussian (filament)
      <param name="/filament_initial_std" value="10"/>          ### [cm] Sigma of the filament at t=0-> 3DGaussian shape
      <param name="/filament_growth_gamma" value="10"/>         ### [cm²/s] Growth ratio of the filament_std
      <param name="/filament_noise_std" value="0.02"/>          ### [m] Range of the white noise added on each iteration
      <param name="/gas_type" value="10" />                      ### 0=Ethanol, 1=Methane, 2=Hydrogen, 6=Acetone, 10-ethylene
      <param name="/temperature" value="298"/>                  ### [Kelvins]
      <param name="/pressure" value="1"/>                       ### [Atm]
      <param name="/concentration_unit_choice" value="1"/>      ### 0=molecules/cm3, 1=ppm (when ppm is used, set temp and pressure accordingly)
      # In the occupancyGrid.csv file we set: cell_size, num_cells, etc. which come from the CFD wind simulation
      <param name="/occupancy3D_data" value="$(find orchard_demo)/demo/OccupancyGrid3D.csv" />
      <param name="/fixed_frame" value="$(arg FixedFrame)"/>

      # Path to wind simulations (from CFD)- In this demo we use just a static wind (just time-step = 0)
      <param name="/wind_data" value="$(find orchard_demo)/demo/wind_at_cell_center_points_2msX" />
      <param name="/wind_time_step" value="1" />                ### (sec) time increment between Wind snapshots

      # Location of the release point!
      <param name="/source_position_x" value="1"/>           ### (m)
      <param name="/source_position_y" value="1"/>           ### (m)
      <param name="/source_position_z" value="1"/>            ### (m)

      <param name="/save_results" value="1" />                  #1=true, 0=false
      <param name="/restuls_time_step" value="0.5" />           #(sec) Time increment between saving state to file
      <param name="/results_location" value="$(find orchard_demo)/demo/logs_gas_dipersion_simulator" />
    </node>

    <node pkg="gaden_filament_simulator" type="filament_simulator" name="filament_simulator18" output="screen">
      <param name="/sim_time" value="100" />                    ### [sec] Total time of the gas dispersion simulation
      <param name="/time_step" value="0.1" />                   ### [sec] Time increment between snapshots. Set aprox = cell_size/max_wind_speed.
      <param name="/num_filaments_sec" value="10" />            ### Num of filaments released each second
      <param name="/ppm_filament_center" value="10"/>           ### [ppm] Gas concentration at the center of the 3D gaussian (filament)
      <param name="/filament_initial_std" value="10"/>          ### [cm] Sigma of the filament at t=0-> 3DGaussian shape
      <param name="/filament_growth_gamma" value="10"/>         ### [cm²/s] Growth ratio of the filament_std
      <param name="/filament_noise_std" value="0.02"/>          ### [m] Range of the white noise added on each iteration
      <param name="/gas_type" value="10" />                      ### 0=Ethanol, 1=Methane, 2=Hydrogen, 6=Acetone, 10-ethylene
      <param name="/temperature" value="298"/>                  ### [Kelvins]
      <param name="/pressure" value="1"/>                       ### [Atm]
      <param name="/concentration_unit_choice" value="1"/>      ### 0=molecules/cm3, 1=ppm (when ppm is used, set temp and pressure accordingly)
      # In the occupancyGrid.csv file we set: cell_size, num_cells, etc. which come from the CFD wind simulation
      <param name="/occupancy3D_data" value="$(find orchard_demo)/demo/OccupancyGrid3D.csv" />
      <param name="/fixed_frame" value="$(arg FixedFrame)"/>

      # Path to wind simulations (from CFD)- In this demo we use just a static wind (just time-step = 0)
      <param name="/wind_data" value="$(find orchard_demo)/demo/wind_at_cell_center_points_2msX" />
      <param name="/wind_time_step" value="1" />                ### (sec) time increment between Wind snapshots

      # Location of the release point!
      <param name="/source_position_x" value="1"/>           ### (m)
      <param name="/source_position_y" value="1"/>           ### (m)
      <param name="/source_position_z" value="1"/>            ### (m)

      <param name="/save_results" value="1" />                  #1=true, 0=false
      <param name="/restuls_time_step" value="0.5" />           #(sec) Time increment between saving state to file
      <param name="/results_location" value="$(find orchard_demo)/demo/logs_gas_dipersion_simulator" />
    </node>

  ### RVIZ ###
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find orchard_demo)/demo/gaden_filament_simulator.rviz"/>
</launch>
